<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="<%= base %>/style/main.css" type="text/css"/>
</head>

<body>

	<div id="header">
		<h2><a href="<%= index %>"><%= apptitle %></a></h2>
		<h1><%= pagetitle %></h1>
	</div>

	<div id="content">
		<table id="entries" border="1" width="100%">

		<thead>
			<tr>
				<th>Application</th>
				<th>Timestamp</th>
				<th>Section</th>
				<th>Level</th>
				<th>Message</th>
				<th></th>
			</tr>
		</thead>

		<tbody>